/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none ;
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
.active {
    color: #fc036b;
    font-weight: bold;
}
body , html{
   overflow-x: hidden; 
}
 /* Navbar */
 .navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
 }
.nav-links{
    display: flex;
    align-items: center;  
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/bg-img.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
} 

.header-content h2{
    font-size: 4vmin;
    color: rgb(226, 226, 226);
} 
.line{
    height: 3px;
    background-color: #fc036b;
    margin: 10px auto;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.navbar .logo {
    color: rgb(197, 24, 24);
    background: rgb(166, 245, 130);
    align-items: center;
    margin-top: 9px;
}


/* Go throught Gallery */
section{
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #867979;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px;
}


/* explore section */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/kashmir.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.explore-content {
    width: 6 0%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
    color: rgb(245, 3, 3);   
}

.explore-content p {
   color: rgb(255, 255, 255);
   font-size: 20px;
   font: 1.5em sans-serif;
}
.explore-content .ctn {
    margin-top: 40px;
}

/* Food types */
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}

.foods .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1 {
    font: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: -100px;
}

/* footer */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

/* Animations */
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color: #fc036b;
    cursor: pointer;
}


/* events  */
.event{
    background: #e0c5d0;
}


/* about page */
.about p {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    justify-content:center ;
    line-height: 1.5;
    text-align: justify;
}


/* styling bookings page */
.hello {
    background: url(./img/bookings.jpg) ;
    background-size: 100%;
}
.main h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.main {
    width: 400px;
    margin: 100px auto 0px auto;
}
div.register {
    background-color: rgba(129, 126, 126, 0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
form#register {
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
}
input#name {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 50px;
    outline: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
input#submit {
    width: 200px;
    padding: 7px;
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgba(187, 83, 83, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}


/* contat us */
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/img7.jpg);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(207, 235, 52);
}
.contact .content p {
    font-weight: 300;
    color: rgb(75, 9, 9);
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 {
    color: #00bcd4;
}
.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/* guestrooms */
.guest .my-container{
   display: flex;
   flex-direction: row;

   }

   .guest .my-container .myGuest{
    padding: 0.5rem;
    text-align: center;
   }