/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

.active {
    /* color: #fc036b; */
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: whitesmoke;
    z-index: 1;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 20px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/bg5.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-top: 200px;
    color: rgb(199, 245, 241);
    text-align: center;
}

.header-content h2 {
    font-size: 5vmin;
    color: rgb(255, 255, 255);
    margin-bottom: -40px;
}

.line {
    height: 3px;
    background-color: #fc036b;
    margin: 10px auto;
}

.header-content #expo {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.ctn {
    padding: 8px 15px;
    background: #a8a5a6;
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

.navbar .logo {
    color: rgb(0, 0, 0);
    align-items: center;
    margin-top: 7px;
}

.navbar h1 {
    font-size: 35px;
}

#gul {
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Go throught Gallery */
.events {

    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #000000;
    padding: 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.events .ctn {
    margin-top: 30px;
}

.heading {
    margin-top: 1rem;
}

.review {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(113, 113, 243));
}

/* explore section */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/kashmir3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

}

.explore-content {
    width: 6 0%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
}

.explore-content h1 {
    font-size: 4vmin;
    color: rgb(8, 8, 8);
}

.explore-content p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font: 1.5em sans-serif;
}

.explore-content .ctn {
    margin-top: 40px;
}

/* Food types */
.col {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.foods .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
}

.content-col h1 {
    font: 7vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn {
    margin-left: -100px;
}

.foods {
    background: linear-gradient(to bottom, rgb(233, 232, 232), rgb(236, 162, 236));
}

/* footer */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 10px auto;
}

#fo {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Animations */
img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.1);
}

.ctn:hover {
    background: linear-gradient(to right bottom, brown, pink);
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    /* color: #fc036b; */
    cursor: pointer;
}


/* events   */
.event {
    background: #e0c5d0;
}

.event .row .col img {
    width: 50%;
}


/* about page */
#about p {
    margin-top: 5px;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, rgb(224, 240, 239), rgb(191, 230, 240));

}


/* styling bookings page */
.hello {
    background: url(./img/bookings.jpg);
    background-size: 100%;
}

.main h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.main {
    width: 400px;
    margin: 100px auto 0px auto;
}

div.register {
    background-color: rgba(129, 126, 126, 0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 675px;
}

form#register1 {
    margin-top: -5px;
    margin-left: 40px;
}

label {
    font-family: sans-serif;
    font-size: 18px;
}

input#name {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 50px;
    outline: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input#submit {
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgba(138, 201, 79, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
}


/* contat us */
.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/img7.jpg);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(207, 235, 52);
}

.contact .content p {
    font-weight: 300;
    color: rgb(75, 9, 9);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/* guestrooms */
.guest .my-container {
    display: flex;
    flex-direction: row;

}

.guest .my-container .myGuest {
    padding: 0.5rem;
    text-align: center;
}

.paa {
    font-size: 30px;
    margin-left: 10px;
}

#typ {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(245, 245, 151));
}

#tc {
    margin-top: 40px;
    border-bottom: 2px solid;
}


/* Departments */
.departments {
    display: flex;
    margin-left: 2.5%;
}

#deptt {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 50px;
}

#overview {
    margin-bottom: 50px;
    background-color: whitesmoke;
    width: 500px;
    font-size: 40px;
}

#d {
    text-align: justify;
}

#typo {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-style: italic; */
    margin-top: 25px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(173, 87, 60));
}


/* rooms type  */
#typo {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-style: italic; */
    margin-top: 25px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(245, 245, 108));
}

#ro {
    border-bottom: 2px solid black;
}


/*destinations start */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.review .box-container .box {
    border: var(--border);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.review .box-container .box img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: .5rem solid rgb(209, 133, 133);
}

.review .box-container .text {
    text-align: justify;
    margin-top: 1rem;
}




/* Dining */
.sha {
    transition: none;
    margin-left: 80px;
    margin-top: 20px;
}

.sha:hover {
    transform: none;

}

#hiii {
    margin-top: 40px;
    font-size: 30px;
}

#txt {
    line-height: 2rem;
}



/* button styling */
#reza:hover {
    background: rgb(199, 240, 137);
}

#reza {
    padding: 10px;
    margin: 20px;
    background: #ebaeae;
    border-radius: 10px;
    border: 4px solid black;
    margin-top: 10px;
    margin-bottom: -10px;
}